/* Portrait */
@media only screen and (device-width : 414px) and (-webkit-device-pixel-ratio : 2) {

    /* ***********Header********** */
    header {
        color: white;
        padding: 0.5em;
        line-height: 0px;
        width: 100%;
    }

    .merge {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 96vw;
    }

    .merge2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .merge2 img {
        max-width: 70vw;
        height: auto;
        margin-top: 0rem;
    }

    #nav-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logblock {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 255px;
        height: 190px;
        margin: 22rem 0 0 4rem;
        padding: 3px 5px;
        border: 1px solid #a7a9ac;
        background-color: #e9eaeb;
        border-radius: 10px;
        position: relative;
    }

    #logblock img {
        height: 70%;
    }

    #messagehidden {
        margin-top: 10px;
        color: black;
    }

    .logbottom i {
        padding: 10px;
    }

    nav ol {
        display: none;
    }

    .detail {
        flex: 1 0 0%;
        display: grid;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    .details2 {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        justify-items: center;
        padding: 1rem 0 1rem 0;
    }

    .details2 img {
        max-width: 20vw;
        height: auto;
    }

    .left {
        margin-left: 15rem;
    }

    .delete {
        border: 3px solid brown;
        background-color: brown;
        color: wheat;
        text-align: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .separate {
        display: flex;
        flex-direction: row;
    }

    .presentationcartes {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .justify {
        text-align: justify;
    }

    .entertothecard {
        padding: 3rem;
        background: linear-gradient(to bottom right, brown, darkred);
        color: rgba(252, 176, 69, 1);
        font-weight: bold;
        font-size: 30px;
    }

    .cartes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        grid-gap: 10px;
        justify-items: center;
    }

    a:hover {
        text-decoration: underline;
    }

    .type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu li {
        list-style: none;
        padding: 1rem;
        width: 65vw;
        text-align: center;
        inset: auto auto 20px 12px;
        margin: 0px;
        transform: translate3d(0px, 0px, 57rem);
    }

    .Yugioh li a {
        color: black;
    }

    .conteneur {
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem 0px 5rem;
    }

    .conteneur img {
        max-width: 70vw;
    }

    .card-data-info {
        display: grid;
        grid-template: repeat(5, 1fr)/repeat(6, 1fr);
        max-width: 80vw;
        min-height: 29vh;
        grid-template-rows: 25%;
        grid-gap: 8px;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }

    ul.card-data-info {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    ul.card-data-info li {
        list-style: none;
        background: #7d3e12;
        padding: 15px;
        display: grid;
        border-radius: 5px;
        color: #fff;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        height: 10vh;
        width: 48vw;
        align-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .icons {
        color: #000000;
    }

    .logbottom {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
    }

    .logbottom2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #nav-right {
        display: flex;
    }

    img:hover {
        cursor: pointer;
    }

    .logo {
        width: auto;
        max-height: 15vh;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(200, 25, 50);
        max-height: 90vh;
        align-items: center;
        margin-top: -2%;
    }

    .login .logos img {
        width: auto;
        max-height: 30vh;
        margin-top: 10rem;
    }

    .register {
        display: flex;
        flex-direction: column;
        background-color: rgb(200, 25, 50);
        padding: 0rem;
        height: 100vh;
        margin-top: 0rem;
        align-items: center;
        flex-wrap: nowrap;
    }

    .register .logos img {
        width: auto;
        max-height: 40vh;
        margin-top: 0rem;
    }

    .bouton {
        width: 50vw;
        margin: 6px 17px 0px -8px;
    }

    .boutton {
        width: 70vw;
        margin: 0px 0px 0px 60px;
    }

    .publication {
        width: 20rem;
        margin: 1rem 1rem 0rem 3rem;
    }

    .publication .card-body {
        padding-top: 1rem;
        width: 80vw;
    }

    .publication .card-text {
        width: 69vw;
    }

    .publication .editdelete {
        width: 75vw;
        margin-bottom: 1.5rem;
    }

    .publication img {
        max-height: 50vh;
        width: auto;
    }

    .addpubli {
        padding: 1rem;
        border-radius: 30px;
        width: 100vw;
        height: 35vh;
        background-color: rgb(200, 25, 50);
        margin: 1rem 0 0rem 0rem;
    }

    .publicationComment {
        width: 75vw;
        margin: 1rem 1rem 0rem 1rem;
    }

    .publicationComment .card-body {
        min-height: 10vh;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 72vw;
    }

    .publicationComment .card-text {
        width: 69vw;
    }

    .commentaire {
        width: 20rem;
        margin: 1rem 1rem 1rem 0rem;
    }

    .commentaire .card-body {
        min-height: 10vh;
        width: 75vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .commentaire .card-text {
        padding-top: 2rem;
        width: 45vw;
    }

    .commentaire .editdelete {
        padding-bottom: 2rem;
    }

    .commentaireReponse {
        width: 15rem;
        margin: 2rem 0rem 2rem 0rem;
    }

    .commentaireReponse .card-body {
        min-height: 10vh;
        width: 55vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .commentaireReponse .card-text {
        padding-top: 2rem;
        width: 45vw;
    }

    .reponse {
        width: 20rem;
        text-align: center;
        margin: 0rem;
    }

    .reponse img {
        width: auto;
        max-height: 40vh;
    }

    .reponse .card-body {
        width: 80vw;
        margin-top: 1rem;
    }

    .reponse .card-text {
        width: 75vw;
        margin-right: 0.8rem;
    }

    .reponse .editdelete {
        margin: 1rem 0 2rem 0rem;
    }

    .reponse2 {
        width: 20rem;
        margin: 0;
    }

    .reponse2 .card-text {
        margin-right: 0rem;
        width: 50vw;
    }

    .reponse2 .editdelete {
        margin: 2rem 0 0 0;
    }

    /* *************Navbar Secondaire*** */
    #mySidebar {
        display: flex;
        flex-direction: column;
        min-height: 0;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 1rem;
        justify-content: space-around;
        align-items: center;
    }

    #mySidebar a {
        padding: 0 20px 0 20px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    #mySidebar .closebtn {
        position: absolute;
        top: 1.5rem;
        left: 22rem;
        font-size: 36px;
    }

    .openbtn {
        display: flex;
        flex-direction: row;
        font-size: 35px;
        padding: 20px 0px;
        max-height: 10vh;
        background-color: brown;
        color: whitesmoke;
        align-items: center;
    }

    .openbtn:hover {
        background-color: brown;
        color: whitesmoke;
    }

    .openbtn2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 35px;
        cursor: pointer;
        padding: 20px 0px;
        height: 10vh;
        margin-top: 0rem;
        background-color: black;
        color: whitesmoke;
        width: 100.2vw;
        align-items: center;
    }

    .openbtn2:hover {
        background-color: brown;
        color: whitesmoke;
    }

    .user {
        margin: 0rem 0 0rem 4rem;
        max-width: 70vw;
        height: auto;
    }

    .user .list-group-flush>.list-group-item {
        width: 69vw;
        text-align: center;
    }

    .users {
        font-size: 19px;
        margin-top: 3rem;
    }

    .cardWidth {
        width: 95vw;
        margin-left: 0;
    }

    .cardWidth img {
        height: auto;
        width: 70vw;
    }

    .cardWidth2 {
        width: 95vw;
        margin-left: 0;
    }

    .cardWidth2 img {
        height: auto;
        width: 45vw;
    }

    .infosTypeCard {
        position: absolute;
        top: 0rem;
        left: 19rem;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        overflow: auto;
    }

    .present:hover .infosTypeCard {
        top: 0rem;
        left: 0rem;
        visibility: visible;
        background-color: rgba(5, 5, 5, 0.559);
        color: white;
        height: 100%;
        width: 100%;
        text-align: center;
        overflow: auto;
    }

    .present {
        position: relative;
        overflow: hidden;
        width: 70vw;
        height: auto;
    }

    .present2 {
        position: relative;
        overflow: hidden;
        width: 45vw;
        height: auto;
    }

    .present2:hover .infosTypeCard {
        top: 0rem;
        left: 0rem;
        visibility: visible;
        background-color: rgba(5, 5, 5, 0.559);
        color: white;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .carte img {
        max-width: 20vw;
        height: auto;
    }

    .titre {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .titre .card-title {
        font-size: 18px;
    }

    .type2 {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .desc {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .niveau {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .element {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .primetitle {
        background-color: black;
        min-width: 90vw;
        max-height: 10vh;
        margin-top: 0rem;
    }

    .main2 {
        display: flex;
        transition: .5s;
    }

    .main3 {
        display: none;
    }

    /* *******Accueil*********** */
    .bottom {
        position: sticky;
        margin: 1rem 4rem;
    }

    .bottom2 {
        position: sticky;
        margin: 8rem 0rem 0rem 4rem;
    }

    /* ********Main******* */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    .mainDeck {
        background-color: brown;
        color: whitesmoke;
    }

    .extraDeck {
        background-color: blue;
        color: whitesmoke;
    }

    .table {
        vertical-align: middle;
    }

    .rightCards {
        margin: 0rem 0rem 1rem 0rem;
    }

    .rightDesc {
        margin-left: 0rem;
        min-width: 40vw;
    }

    .rightDesc .card-text {
        width: 80vw;
        margin: 0;
        text-align: center;
    }

    .leftCards {
        margin-left: 0;
    }

    .leftDesc {
        margin-left: 0rem;
        width: 102vw;
    }

    .leftDesc .card-text {
        width: 94vw;
        margin: 0;
        text-align: center;
    }

    .col_8 {
        flex: 0 0 auto;
        width: 70vw;
    }

    td img {
        max-width: 20vw;
    }

    .background {
        background-image: url("../img/fanart.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100vw;
    }

    .blanc {
        background-color: white;
        padding: 1rem;
    }

    a.button,
    a.button:visited {
        color: #7e8082;
        text-decoration: none;
    }

    a.button:visited {
        font-weight: 700;
    }

    .button {
        background-color: #e9eaeb;
        border: 2px solid #a7a9ac;
        border-radius: 10px;
        box-shadow: 2px 2px 2px #ccc;
        text-align: center;
        padding: 15px;
        margin: 15px 0 0;
        font-size: 15px;
        height: 30px;
        width: 190px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 0;
    }

    #main {
        display: flex;
        flex-direction: row;
    }

    ul {
        padding-left: 0;
    }

    .link {
        color: white;
        margin: 20px;
    }

    .link:hover {
        color: white;
        margin: 20px;
    }

    li {
        list-style: none;
    }

    ul li {
        list-style: auto;
        margin-right: 10rem;
        width: 31vw;
        text-align: initial;
    }

    main {
        min-height: 100vh;
        background-color: #D9D9D9;
    }

    .p {
        color: whitesmoke;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: grey;
    }

    .title {
        background-color: red;
        border: 2px solid red;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: whitesmoke;
        font-weight: 500;
    }

    .form-label {
        color: black;
        opacity: 1;
        margin-bottom: 1.5rem;
        margin-top: 10px;
    }

    .form-control {
        width: 90%;
        border-radius: 2rem;
        margin-left: 10px;
        padding: 1em;
    }

    .padbottom {
        padding: 2rem
    }

    .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
    .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
    .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    input {
        border-radius: 30px;
        width: 98%;
    }

    .input-group {
        width: 98%;
        border-radius: 30px;
    }

    .commentsize {
        flex: 0 0 auto;
        width: 77vw;
    }

    .formulaire {
        padding: 2rem;
        margin: 0rem 0rem 0rem 0rem;
        border-radius: 5rem;
        width: 100%;
    }

    .contact {
        padding: 1rem;
        margin: 0rem 0rem 2rem 0rem;
        border-radius: 50px;
        width: 90vw;
    }

    .dropdown-item:hover {
        background: none;
    }

    .reject2 {
        margin-left: 0%;
    }

    .reject3 {
        margin-left: 0%;
        margin-bottom: 10px;
    }

    .reject4 {
        margin-left: 30%;
    }

    /* *********DECK******** */
    hr {
        border: 5px solid black;
        margin: 2rem 0 2rem 0;
        width: 100%;
    }

    .deck {
        width: 20rem;
        margin: 5rem 0 0rem 0rem;
    }

    .h2 {
        font-size: 1.125rem;
    }

    .btn-danger {
        color: #fff;
        background-color: #7d3e12;
        border-color: #7d3e12;
    }

    /* *******Footer************ */
    footer {
        color: wheat;
        background-color: #0a4275;
    }

    .footer {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin-left: 3rem;
        text-align: center;
    }

    fieldset input {
        padding: 1rem;
    }

    fieldset label {
        color: white;
    }

    /* format duel */

    .card-group>.card {
        margin-right: 7px;
        margin-top: 1rem;
        width: 45vw;
        font-size: 15px;
    }

    .groupe .card-header {
        background-color: #198754;
    }

    .groupe {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* mangas */
    .mangas {
        margin-top: 3rem;
    }

    /* mentions */
    .mentions {
        width: 100%;
    }
}

/* Paysage */
@media only screen and (device-width : 896px) and (-webkit-device-pixel-ratio : 2) {

    .addpubli {
        padding: 1rem;
        border-radius: 5rem;
        width: 100vw;
        height: 60vh;
        background-color: rgb(200, 25, 50);
        margin: 1rem 0 0rem 6rem;
    }

    .main2 {
        display: none;
    }

    .main3 {
        display: block;
    }

    /* format duel */

    .card-group>.card {
        margin-right: 5px;
        margin-top: 1rem;
        width: 50vw;
        font-size: 15px;
    }

    .groupe .card-header {
        background-color: #198754;
    }

    .groupe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* ***********Header********** */
    header {
        color: white;
        padding: 0.5em;
        line-height: 0px;
        width: 100%;
    }

    .merge {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .merge2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .merge2 img {
        width: auto;
        max-height: 60vh;
    }

    #nav-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logblock img {
        height: 70%;
    }

    #messagehidden {
        margin-top: 10px;
        color: black;
    }

    #logblock {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18vw;
        height: 46vh;
        margin: 0rem 0 0 0rem;
        padding: 3px 5px;
        border: 1px solid #a7a9ac;
        background-color: #e9eaeb;
        border-radius: 10px;
        position: relative;
    }

    .logbottom i {
        padding: 10px;
    }

    .detail {
        flex: 1 0 0%;
        display: grid;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    .details2 {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        justify-items: center;
        padding: 1rem 0 1rem 0;
    }

    .details2 img {
        max-width: 20vw;
        height: auto;
    }

    .left {
        margin-left: 15rem;
    }

    .type {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .conteneur {
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem 0px 5rem;
    }

    .conteneur img {
        max-width: 70vw;
    }

    .card-data-info {
        display: grid;
        grid-template: repeat(5, 1fr)/repeat(6, 1fr);
        max-width: 80vw;
        min-height: 29vh;
        grid-template-rows: 25%;
        grid-gap: 8px;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }

    ul.card-data-info {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    ul.card-data-info li {
        list-style: none;
        background: #7d3e12;
        padding: 15px;
        display: grid;
        border-radius: 5px;
        color: #fff;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        height: 10vh;
        width: 48vw;
        align-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    .icons {
        color: #000000;
    }

    .logbottom {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
    }

    .logbottom2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #nav-right {
        display: flex;
    }

    img:hover {
        cursor: pointer;
    }

    .logo {
        width: auto;
        max-height: 15vh;
    }

    .login {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(200, 25, 50);
        min-height: 100vh;
    }

    .login .logos img {
        width: auto;
        max-height: 85vh;
        margin-top: 2rem;
    }

    .register {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        background-color: rgb(200, 25, 50);
        padding: 0rem;
        min-height: 125vh;
        margin-top: 0rem;
    }

    .register .logos img {
        width: auto;
        max-height: 90vh;
        margin-top: 4rem;
    }

    .bouton {
        width: 20vw;
        margin: 6px 17px 0px -8px;
    }

    .boutton {
        width: 70vw;
        margin: 0px 0px 0px 60px;
    }

    .user {
        margin: 4rem 0 0 16rem;
        max-width: 39vw;
        height: auto;
    }

    .user .list-group-flush>.list-group-item {
        width: 38vw;
        text-align: center;
    }

    .user img {
        width: auto;
        max-height: 80vh;
    }

    .cardWidth {
        width: 20vw;
        margin: 0;
        overflow: hidden;
    }

    .cardWidth img {
        height: auto;
        width: 20vw;
    }

    .dropdown-menu li {
        list-style: none;
        padding: 1rem;
        width: 25vw;
        text-align: center;
        inset: auto auto 20px 12px;
        margin: 0px;
        transform: translate3d(0px, 0px, 57rem);
    }

    .Yugioh li a {
        color: black;
    }

    .primetitle {
        width: 100vw;
        min-height: 20vh;
        margin-top: 0rem;
    }

    /* *******Accueil*********** */

    .bottom2 {
        position: sticky;
        margin: 8rem 0rem 0rem 4rem;
    }

    /* ********Main******* */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    .table {
        vertical-align: middle;
    }

    .rightCards {
        margin: 0rem 0rem 0rem 14rem;
    }

    .rightDesc {
        margin-left: 0rem;
        width: auto;
    }

    .rightDesc .card-text {
        width: auto;
        margin: 0;
    }

    .leftCards {
        margin: 0px 0px 0px 14.5rem;
    }

    .leftDesc {
        margin: 0 0 0 14rem;
        width: auto;
    }

    .leftDesc .card-text {
        width: auto;
        margin: 0;
    }

    .col_8 {
        flex: 0 0 auto;
        width: 70vw;
    }

    td img {
        max-width: 20vw;
    }

    .background {
        background-image: url("../img/fanart.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    .blanc {
        background-color: white;
        padding: 1rem;
    }

    a.button,
    a.button:visited {
        color: #7e8082;
        text-decoration: none;
    }

    a.button:visited {
        font-weight: 700;
    }

    .button {
        background-color: #e9eaeb;
        border: 2px solid #a7a9ac;
        border-radius: 10px;
        box-shadow: 2px 2px 2px #ccc;
        text-align: center;
        padding: 15px;
        margin: 15px 0 0;
        font-size: 15px;
        height: 30px;
        width: 190px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 0;
    }

    #main {
        display: flex;
        flex-direction: row;
    }

    ul {
        padding-left: 0;
    }

    .link {
        color: white;
        margin: 20px;
    }

    .link:hover {
        color: white;
        margin: 20px;
    }

    li {
        list-style: none;
    }

    ul li {
        list-style: auto;
        margin-right: 10rem;
        width: 31vw;
        text-align: initial;
    }

    main {
        min-height: 100vh;
        width: 100%;
        background-color: #D9D9D9;
    }

    .p {
        color: whitesmoke;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: grey;
    }

    .title {
        background-color: red;
        border: 2px solid red;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: whitesmoke;
        font-weight: 500;
    }


    .form-label {
        color: black;
        opacity: 1;
        margin-bottom: 1.5rem;
        margin-top: 10px;
    }

    .form-control {
        width: 90%;
        border-radius: 2rem;
        margin-left: 10px;
        padding: 1em;
    }

    .padbottom {
        padding: 2rem
    }

    .input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
    .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
    .input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .input-group {
        width: 98%;
    }

    .publication {
        width: 20rem;
        margin: 5rem 1rem 0rem 20rem;
    }

    .publication .card-body {
        padding-top: 1rem;
        width: auto;
    }

    .publication .card-text {
        width: auto;
    }

    .publication .editdelete {
        width: auto;
        margin-bottom: 1.5rem;
    }

    .publication img {
        max-height: 100vh;
        width: auto;
    }

    .publicationComment {
        width: 30rem;
        margin: 1rem 1rem 0rem 15rem;
    }

    .publicationComment .card-body {
        width: auto;
    }

    .publicationComment .card-text {
        width: auto;
    }

    .delete {
        border: 3px solid brown;
        background-color: brown;
        color: wheat;
        text-align: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .separate {
        display: flex;
        flex-direction: row;
    }

    .presentationcartes {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 5rem;
    }

    .justify {
        text-align: center;
    }

    .entertothecard {
        padding: 3rem;
        background: linear-gradient(to bottom right, brown, darkred);
        color: rgba(252, 176, 69, 1);
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 4rem;
    }

    a:hover {
        text-decoration: underline;
    }

    .cartes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        grid-gap: 10px;
        justify-items: center;
    }

    .commentaire {
        width: 20rem;
        margin: 1rem 1rem 1rem 20rem;
    }

    .commentaire .card-body {
        width: auto;
    }

    .commentaire .card-text {
        padding-top: 2rem;
        width: auto;
    }

    .commentaire .editdelete {
        padding-bottom: 2rem;
        width: auto;
    }

    .commentaireReponse {
        width: 30rem;
        margin: 1rem 1rem 2rem 12rem;
    }

    .commentaireReponse .card-body {
        width: auto;
        height: auto;
    }

    .commentaireReponse .card-text {
        padding-top: 2rem;
        width: auto;
    }

    .reponse {
        width: 70vw;
        margin: 1rem 0rem 0rem 10rem;
    }

    .reponse img {
        width: auto;
        max-height: 70vh;
    }

    .reponse .card-body {
        width: 40vw;
        margin: auto;
    }

    .reponse .card-text {
        width: 45vw;
        margin-left: 7rem;
    }

    .reponse .editdelete {
        margin-left: 8rem;
        width: auto;
    }

    .reponse2 {
        width: 40vw;
        height: auto;
        margin: 0rem 0rem 0rem 16rem;
    }

    .reponse2 .card-text {
        margin-right: 0rem;
        width: auto;
    }

    .reponse2 .editdelete {
        margin-left: 0rem;
        width: auto;
        padding: 1rem;
    }

    .reponse2 .card-body {
        width: auto;
        height: auto;
    }

    .formulaire {
        padding: 2rem;
        margin: 1rem 0rem 1rem 4rem;
        border-radius: 5rem;
        width: 80vw;
    }

    .contact {
        padding: 0rem;
        margin: 0rem 0rem 0rem 3rem;
        border-radius: 50px;
        width: 80vw;
    }

    .dropdown-item:hover {
        background: none;
    }

    .reject2 {
        margin-left: 0%;
    }

    .reject3 {
        margin-left: 0%;
        margin-bottom: 10px;
    }

    .reject4 {
        margin-left: 30%;
    }

    /* *********DECK******** */
    hr {
        border: 5px solid black;
        margin: 2rem 0 2rem 0;
        width: 100%;
    }

    .h2 {
        font-size: 1.125rem;
    }

    .btn-danger {
        color: #fff;
        background-color: #7d3e12;
        border-color: #7d3e12;
    }

    /* *******Footer************ */
    footer {
        color: wheat;
        background-color: #0a4275;
    }

    .footer {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    /* mentions */
    .mentions {
        width: 100%;
    }

}